/* Container */
.container {
  display: flex;
  flex-direction: row;
  height: 70vh;
  justify-content: center;
  gap: 30px;
  height: 800px;
}

.logo {
  margin: 15px 15px;
}

.container > section {
}

/* First section */
.input-text {
  display: flex;
  flex-direction: column;
}

.input-text span {
  margin-top: 5px;
  margin-bottom: 10px;
}

.input-text img {
  align-content: flex-start;
}

/*textarea*/
.input {
  width: 780px;
  height: 713px;
  font-size: 32px;
  border-radius: 12px;
  line-height: 200%;
  resize: none;
  outline: none;
  border: none;
  padding: 30px;
}

.input::placeholder {
  font-weight: 400;
  color: #0a3871 !important;
  padding-left: 5px;
}

.info {
}

/* Buttons */

.buttons {
  display: flex;
  flex-direction: row;
  gap: 125px;
}

.btn-primary {
  width: 328px;
  height: 67px;
  background: #0a3871;
  color: #ffff;
  border-radius: 24px;
  border: none;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.btn-secundary {
  width: 328px;
  height: 67px;
  background: #ffff;
  color: #0a3871;
  border-radius: 24px;
  border: 1px solid #0a3871;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

/* Second section */

.output-text > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 820px;
  border-radius: 12px;
  background: #ffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

/* Empty Result */

.empty-output {
}

.empty-output img {
  align-content: center;
  width: 300px;
  margin-top: 160px;
}

.empty-output h4 {
  width: 300px;
  text-align: center;
  font-size: 24px;
  color: #343a40;
  margin-top: 20px;
}

.empty-output p {
  width: 300px;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  padding-top: 16px;
  color: #495057;
}

/* Result */

.result-output {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/*textarea*/
.output {
  margin-top: 20px;
  height: 685px;
  width: 300px;
  font-size: 22px;
  border-radius: 12px;
  line-height: 200%;
  resize: none;
  outline: none;
  border: none;
}

.copy-result {
  width: 300px;
  height: 67px;
  background: #ffff;
  color: #0a3871;
  border-radius: 24px;
  border: 1px solid #0a3871;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.footer {
  display: block;
  text-align: center;
  margin-top: 61px ;
  font-size: 14px;
  color: #7a7c83;
  background-color: #e9ecf8;
}

@media (max-width: 1200px) {
  /* max-width: 1140px; */
}

@media (max-width: 992px) {
  /* max-width: 960px; */
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
    
  /* Container */
  .container {
    display: flex;
    flex-direction: column;
		height: auto;

  }

  /* First section */
  .input-text {
    align-items: center;
  }

  .input-text span {
    margin: 10px auto;
  }

  /*textarea*/
  #textInput {
		width: 90%;
		height: 21.875rem;
		padding: 1.25rem;
		font-size: 22px;
  }

  /* Buttons */
  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .output-text {
      height: auto;
  }
  /* Second section */
  .output-text > div {
		align-items: center;
    width: 90%;
    height: 13.75rem;
		margin: 0 auto;
  }

    
  /* Empty Result */
  .empty-output img {
    display: none;
    width: 80%;
    margin-top: 80px;
  }

  .empty-output h4 {
    width: 80%;
    font-size: 20px;
		margin-top: 59px;
  }



  .empty-output p {
    width: 80%;
    font-size: 14px;
  }

  /* Result */
  /*textarea*/
  .output {
    width: 80%;
    height: auto;
    font-size: 18px;
      
  }

	.result-output {
    align-items: center;
    margin: 0 auto;
    
  }

  .copy-result {
    width: 80%;
  }
}


@media (max-width: 576px) {
  /* max-width: 540px; */
    
}
