/* Font Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0px;
  background-color: var(--light-blue-100);
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;

  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;

  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;

  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;
}

.hidden {
  display: none !important;
}
